<app-diretiva-ngif></app-diretiva-ngif>
<app-diretiva-ngswitch-case-default></app-diretiva-ngswitch-case-default>
<app-ng-for></app-ng-for>
<app-ng-class></app-ng-class>
<app-ng-style></app-ng-style>
<app-operador-elvis></app-operador-elvis>
<app-ng-content>
    <div class="titulo">
        Titulo passado pelo select do ng-content
    </div>
    Conteudo gerado pelo ngContent no app.component. 
    Pode passar outro component também
</app-ng-content>

<app-element-ref-renderer></app-element-ref-renderer>