<div class="content">
    <h4>Aplica diretiva aqui para mudar cor</h4>
    <p appChangeColor>
        2 tipos de diretivas
        1- tipo estrutural (ngIf, ngFor, etc..)
        2- tipo de atributo (ngClass, ngStyle)

        na diretiva devemos usar o elementRef
        caso devemos usar somente em um component devemos colocar na frente de colchetes 
        na diretiva (selector: 'button[appChangeColor]')
    </p>
    
</div>

=========================================================================================================================================
